@model SlotsDataCapture.ENTITIES.Operators
@{ViewBag.Title = "Edit";}

    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(x=>x.OperatorID)
            <div class="form-top-container">
                <div class="card form-rounder">
                    <div class="card-header">
                        <div class="card bg-dark text-white">
                            <div class="card-body">
                                <h5 class="tl-sda-tl-bar">S.D.C<span class="tl-fm-edit">Edit</span>Record<span class="tl-fm-dynamic">@Html.DisplayFor(model => model.Name)</span></h5>
                            </div>
                        </div> @*Card Header Title Content*@
                    </div>
                    @*Card Header End*@
                    <div class="card-body">
                        <p class="form-location">Operator<span class="form-location-bold">Edit</span></p>
                        <div class="row  form-row-form-content">

                            <div class="col-md-12 offset-md-1">
                                <!-- set form width -->
                                <div class="form-row mt-8">
                                    <!-- set control width -->
                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-edit">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_createdon" class="lbl-01">Created On</label>
                                        <br />
                                        <span class="lbl-001">
                                            @Html.DisplayFor(model => model.CreatedOn)
                                        </span>
                                        @Html.HiddenFor(model => model.CreatedOn)
                                    </div>
                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-edit">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_createdby" class="lbl-01">Parent Company</label>
                                        <br />
                                        <span class="lbl-001">
                                            @Html.DisplayFor(model => model.Tbl_Company.Name)
                                        </span>
                                        @Html.HiddenFor(model => model.CompanyID)
                                        @*@Html.DropDownList("CompanyID", null, htmlAttributes: new { @class = "form-control" })*@
                                        @*@Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })*@
                                    </div>
                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution"></i>
                                        </span>
                                        <label for="lbl_ame" class="lbl-01">Operator Name</label>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control field-validation" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-12 pb-3"></div>
                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-edit">
                                            <i class="fa fa-1x  fa-institution"></i>
                                            <i class="fa fa-1x  fa-address-card"></i>
                                        </span>
                                        <label for="lbl_addressone" class="lbl-01">Address 1</label>
                                        @Html.EditorFor(model => model.AddressOne, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AddressOne, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-edit">
                                            <i class="fa fa-1x  fa-institution"></i>
                                            <i class="fa fa-1x  fa-address-card"></i>
                                        </span>
                                        <label for="lbl_addresstwo" class="lbl-01">Address 2</label>
                                        @Html.EditorFor(model => model.AddressTwo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AddressTwo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-edit">
                                            <i class="fa fa-1x  fa-institution"></i>
                                            <i class="fa fa-1x  fa-address-card"></i>
                                        </span>
                                        <label for="lbl_town" class="lbl-01">Town</label>
                                        @Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control field-validation" } })
                                        @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-edit">
                                            <i class="fa fa-1x  fa-institution"></i>
                                            <i class="fa fa-1x  fa-globe"></i>
                                        </span>
                                        <label for="lbl_webiste" class="lbl-01">Website</label>
                                        @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-edit">
                                            <i class="fa fa-1x  fa-institution"></i>
                                            <i class="fa fa-1x  fa-globe"></i>
                                        </span>
                                        <label for="lbl_country" class="lbl-01">Country</label>
                                        @Html.DropDownList("CountryID", null, htmlAttributes: new { @class = "form-control field-validation" })
                                        @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-12 pb-3"></div>

                                    <div class="col-sm-12 pb-3">
                                        <span class="form-style-edit">
                                            <i class="fa fa-1x  fa-institution"></i>
                                        </span>
                                        @Html.EditorFor(model => model.IsActive, new { @class = "form-check-input field-validation" })
                                        <span class="lbl-01">Actively trading?</span>
                                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div> @*Close form-row mt-8">*@
                        </div> @*Close col-md-12 offset-md-1">*@
                    </div> @*Close Card Body*@
                <div class="row form-row-form-controls">
                    <div class="col-sm-6">
                        <input type="submit" value="Save" class="btn btn-outline-warning" />
                    </div>
                    <div class="col-sm-6">@Html.ActionLink("Back to Listings", "Index", "Companies",null, new { @class = "btn btn-outline-primary" })</div>
                </div>
                    <div class="card-header border-0">
                        <div class="card bg-dark text-white">
                            <div class="card-body">
                                <div>
                                    @Html.Partial("footer")
                                </div>
                            </div>
                        </div> @*Card Header Title Content*@
                    </div>
                </div> @*Card Main Card*@
            </div>
        }
    </div>