@model SlotsDataCapture.ENTITIES.Reports
@{ViewBag.Title = "Delete";}

<div class="container-fluid">
    <div class="form-top-container">
        <div class="card border-0">
            <div class="card-header border-0">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="tl-sda-tl-bar">S.D.C<span class="tl-fm-delete">Delete</span>Record<span class="tl-fm-dynamic">@Html.DisplayFor(model => model.ReportID)</span></h5>
                    </div>
                </div> @*Card Header Title Content*@
            </div> @*Card Header End*@

            <div class="row  form-row-shade-active">
                <div class="col-sm-6">
                    <span class="form-style-delete">
                        <i class="fas fa-chart-pie"></i>
                        <label for="lbl_createdon" class="form-lb-red">Created On:</label>
                    </span>
                    <p class="form-dt-detail">@Html.DisplayFor(model => model.CreatedOn)</p>
                </div>
                <div class="col-sm-6">
                    <span class="form-style-delete">
                        <i class="fas fa-chart-pie"></i>
                        <label for="lbl_createdby" class="form-lb-red">Created By:</label>
                    </span>
                    <p class="form-dt-detail">@Html.DisplayFor(model => model.CreatedBy)</p>
                </div>
            </div>
              <div class="row  form-row-shade-active">
                  <div class="col-sm-6">
                      <span class="form-style-delete">
                          <i class="fas fa-chart-pie"></i>
                          <label for="lbl_deviceserial" class="form-lb-red">Device Serial Number:</label>
                      </span>
                      <p class="form-dt-detail">@Html.DisplayFor(model => model.DeviceSerialNumber)</p>
                  </div>
                <div class="col-sm-6">
                    <span class="form-style-delete">
                        <i class="fas fa-chart-pie"></i>
                        <label for="lbl_device" class="form-lb-red">Device Type:</label>
                    </span>
                    <p class="form-dt-detail">@Html.DisplayFor(model => model.DeviceType)</p>
                </div>
             </div>
            <div class="row  form-row-shade-active">
                <div class="col-sm-6">
                    <span class="form-style-delete">
                        @Html.ActionLink("Delete Item", "Delete", new { id = Model.ReportID }, new { @class = "btn btn-outline-danger" })
                    </span>
                </div>
                <div class="col-sm-6">
                    <span class="form-style-details">
                        @Html.ActionLink("Back To Listing", "Index", "Reports", null, new { @class = "btn btn-outline-primary" })
                    </span>
                </div>
            </div>
        </div> @*Close Main Card*@
        <div class="card-header border-0">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <div>
                        @Html.Partial("footer")
                    </div>
                </div>
            </div> @*Card Header Title Content*@
        </div>
    </div>@*Close Parent Container*@
</div>