@using System.Linq.Expressions
@model PagedList.IPagedList<SlotsDataCapture.ENTITIES.Contacts>
@using PagedList;
@using PagedList.Mvc;
@{ViewBag.Title = "Index";}

<div class="container-fluid">
    <div class="form-parent-container">
        <div class="card border-0">
            <div class="card-header border-0">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                   <h5 class="tl-admin-tl-bar">Administration<span class="tl-fm-list">Operator Contacts</span>Listings</h5>
                </div>
                </div> @*Card Header Title Content*@
            </div> @*Card Header End*@
            @*BEGIN FORM*@
            @using (@Html.BeginForm("ContactListing", "Contacts", FormMethod.Get))
            {
                <form>
                    <br />
                    <div class="container py-6">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-search"></i>
                                <label for="lbl_searchcontacts" class="form-item-title">Search Contacts</label>
                            </div>
                        </div>
                        @*Radio button controls begin*@
                        <div class="row">
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Contact_Company", true)
                                    <text class="rb-text"><b>Contact:</b> Company Name</text>
                                </span>
                            </div>
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Contact_FName")
                                    <text class="rb-text"><b>Contact:</b> First Name</text>
                                </span>
                            </div>
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Contact_LName")
                                    <text class="rb-text"><b>Contact:</b> Last Name</text>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-check">
                                <span class="rb-display form-control-item-active">
                                    @Html.RadioButton("searchBy", "Activity")
                                    <text class="rb-text"><b>Contact:</b> Activity Status</text>
                                </span>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="container py-6">
                        <fieldset>
                            @*Search input controls begin*@
                            <div class="row">
                                <div class="col-sm-3">
                                    @Html.TextBox("search", null, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" value="search" class="btn btn-primary">
                                        <span class="btn-search btn-primary">Search</span>
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                @*Search input controls end*@
                            </div>
                            <br />
                        </fieldset>
                    </div>
                    <div class="container py-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-control-item"><i class="fa fa-chart-pie"></i> Total Operator Contacts @Html.Raw(ViewBag.TotalRecords) </div>
                            </div>
                        </div>
                      </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                <ul class="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("ContactListing", null, new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request["sortBy"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
                                </ul>
                            </div>
                        </div>
                    </div> @*Close Card Body*@
                </form>
            }
        </div> @*Close Main Card*@
        <table class="table table-hover">
            <thead>
                @if (Model.Count() == 0)
                // if no record currently exist prompt the member to create one
                {
                    <tr class="null-data-box">
                        <td class="" colspan="10">
                            <span class="null-data-comment">
                                <i class="fa fa-3x  fa-times"></i>NO MATCHING RECORDS FOUND:
                            </span>
                        </td>
                    </tr>

                }
                else if (Model.Count != 0)
                // if record exists show table and data
                {
            <tr class="bg-dark text-white">
                <th><i class="fa fa-sort"></i>@Html.ActionLink("Is Active?", "ContactListing", new { sortBy = ViewBag.Activity, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                <th><i class="fa fa-sort"></i>@Html.ActionLink("Company Name", "ContactListing", new { sortBy = ViewBag.Contact_Company, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                <th><i class="fa fa-sort"></i>@Html.ActionLink("First Name", "ContactListing", new { sortBy = ViewBag.Contact_FName, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                <th><i class="fa fa-sort"></i>@Html.ActionLink("Last Name", "ContactListing", new { sortBy = ViewBag.Contact_LName, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
            </tr>
                }
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="form-tr-item">
                    <td class="@(item.IsActive ? "account-active" : "account-inactive ")"></td>
                    <td class="form-item">@Html.DisplayFor(modelItem => item.Company)</td>
                    <td>@Html.DisplayFor(modelItem => item.FName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LName)</td>
                </tr>
                }
            </tbody>
        </table>

    </div>@*Close Parent Container*@
</div> @*Close Fluid Container*@