@model SlotsDataCapture.ENTITIES.Contacts
@{ViewBag.Title = "Create";}

    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-top-container">
                <div class="card form-rounder">
                    <div class="card-header">
                        <div class="card bg-dark text-white">
                            <div class="card-body">
                                <h5 class="tl-sda-tl-bar">S.D.C<span class="tl-fm-create">Create</span>New Record</h5>
                            </div>
                        </div> @*Card Header Title Content*@
                    </div>
                    @*Card Header End*@
                    <div class="card-body">
                        <p class="form-location">Establishment Contact<span class="form-location-bold">Create</span></p>
                        <div class="row  form-row-form-content">
                            <div class="col-md-12 offset-md-1">
                                <!-- set form width -->
                                <div class="form-row mt-8">
                                    <!-- set control width -->
                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_createdon" class="lbl-01">Created On</label>
                                        @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control field-validation" } })
                                        @Html.ValidationMessageFor(model => model.CreatedOn, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_operatorlist" class="lbl-01">Associated Establishment</label>
                                        @Html.DropDownList("VenueID", null, htmlAttributes: new { @class = "form-control field-validation" })
                                        @Html.ValidationMessageFor(model => model.VenueID, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-12 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_titlelist" class="lbl-01">Title</label>
                                        @Html.DropDownList("TitleID", null, htmlAttributes: new { @class = "form-control field-validation" })
                                        @Html.ValidationMessageFor(model => model.TitleID, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_firstname" class="lbl-01">First Name</label>
                                        @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control field-validation" } })
                                        @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_lastname" class="lbl-01">Last Name</label>
                                        @Html.EditorFor(model => model.LName, new { htmlAttributes = new { @class = "form-control field-validation" } })
                                        @Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_companyname" class="lbl-01">Company Name</label>
                                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_companyname" class="lbl-01">Position Held</label>
                                        @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control field-validation" } })
                                        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_phone" class="lbl-01">Contact</label>
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control field-validation" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                            <i class="fa fa-1x  fa-mobile" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_mobile" class="lbl-01">Mobile</label>
                                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                            <i class="fa fa-1x  fa-envelope" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_email" class="lbl-01">Email</label>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-6 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                            <i class="fa fa-1x  fa-globe" aria-hidden="true"></i>
                                        </span>
                                        <label for="lbl_country" class="lbl-01">Country</label>
                                        @Html.DropDownList("CountryID", null, htmlAttributes: new { @class = "form-control field-validation" })
                                        @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-sm-12 pb-3">
                                        <span class="form-style-create">
                                            <i class="fa fa-1x  fa-institution" aria-hidden="true"></i>
                                        </span>
                                        @Html.EditorFor(model => model.IsActive, new { @class = "form-check-input field-validation" })
                                        <span class="lbl-01">Actively trading?</span>
                                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                             </div>
                        </div> @*Close col-md-12 offset-md-1">*@
                    </div> @*Close Card Body*@
                    <div class="row form-row-form-controls">
                        <div class="col-sm-6">
                            <input type="submit" value="Create" class="btn btn-outline-info " />
                        </div>
                        <div class="col-sm-6">@Html.ActionLink("Back To Listings", "Index", "Companies", null, new { @class = "btn btn-outline-primary" })</div>
                    </div>
                    <div class="card-header border-0">
                        <div class="card bg-dark text-white">
                            <div class="card-body">
                                <div>
                                    @Html.Partial("footer")
                                </div>
                            </div>
                        </div> @*Card Header Title Content*@
                    </div>
                </div> @*Card Main Card*@
            </div>
        }
    </div>







