@using System.Linq.Expressions
@model PagedList.IPagedList<SlotsDataCapture.ENTITIES.OperatorVenues>
@using PagedList;
@using PagedList.Mvc;
@{ViewBag.Title = "Index";}
<div class="container-fluid">
    <div class="form-top-container">
        <div class="card border-0">
            <div class="card-header border-0">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                    <h5 class="tl-sda-tl-bar">S.D.C<span class="tl-fm-list">Operator Establishments</span>Listings</h5>
                    </div>
                </div> @*Card Header Title Content*@
            </div> @*Card Header End*@
            @*BEGIN FORM*@
            @using (@Html.BeginForm("Index", "OperatorVenues", FormMethod.Get))
            {
                <form>
                    <br />
                    <div class="container py-6">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-search"></i>
                                <label for="lbl_searchestablishments" class="form-item-title">Search Establishments</label>
                            </div>
                        </div>
                        @*Radio button controls begin*@
                        <div class="row">
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Venue_Name", true)
                                    <text class="rb-text"><b>Establishment:</b> Name</text>
                                </span>
                            </div>
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Venue_Permit")
                                    <text class="rb-text"><b>Establishment:</b> Permit</text>
                                </span>
                            </div>
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Venue_Location")
                                    <text class="rb-text"><b>Establishment:</b> Town/City</text>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-check">
                                <span class="rb-display form-control-item-active">
                                    @Html.RadioButton("searchBy", "Activity")
                                    <text class="rb-text"><b>Operator:</b> Activity Status</text>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="container py-6">
                        <fieldset>
                            @*Search input controls begin*@
                            <div class="row">
                                <div class="col-sm-3">
                                    @Html.TextBox("search", null, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" value="search" class="btn btn-primary">
                                        <span class="btn-search btn-primary">Search</span>
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                @*Search input controls end*@
                            </div>
                            <br />
                        </fieldset>
                    </div>
                    <div class="container py-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-control-item"><i class="fa fa-chart-pie"></i> Global Establishment Count @Html.Raw(ViewBag.TotalRecords) </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-control-item"><i class="fa fa-chart-pie"></i> Local <b>Active</b> Establishment Count @Html.Raw(ViewBag.TotalActiveRecords) </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <span>
                                    <i class="fa fa-plus"></i>
                                    @Html.ActionLink("Create New", "Create", "OperatorVenues", new { @class = "btn btn-outline-info btn-lg" })
                                </span>
                            </div>
                            <div class="col-md">
                                <ul class="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", null, new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request["sortBy"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
                                </ul>
                            </div>
                        </div>
                    </div> @*Close Card Body*@
                </form>
            }
        </div> @*Close Main Card*@
        <table class="table table-hover">
            <thead>
                @if (Model.Count() == 0)
                // if no record currently exist prompt the member to create one
                {
                    <tr class="null-data-box">
                        <td class="" colspan="8">
                            <span class="null-data-comment">
                                <i class="fa fa-3x  fa-times"></i>NO MATCHING RECORDS FOUND:
                            </span>
                        </td>
                    </tr>
                }
                else if (Model.Count != 0)
                // if record exists show table and data
                {
                    <tr class="bg-dark text-white">
                        <th><i class="fa fa-sort"></i>@Html.ActionLink("Active?", "Index", new { sortBy = ViewBag.Activity, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                        <th><i class="fa fa-sort"></i>@Html.ActionLink("Name", "Index", new { sortBy = ViewBag.Venue_Name, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                        <th><i class="fa fa-sort"></i>@Html.ActionLink("Permit", "Index", new { sortBy = ViewBag.Venue_Permit, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                        <th><i class="fa fa-sort"></i>@Html.ActionLink("Location", "Index", new { sortBy = ViewBag.Venue_Location, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                        <th class="form-th-item">
                            <span style="color:yellow">
                                <i class="fa fa-clipboard"></i>
                            </span>Contacts
                        </th>
                        <th class="form-th-item">
                            <span style="color:lightgreen">
                                <i class="fa fa-clipboard"></i></span>Slots</th>
                        <th class="form-th-item"><i class="fa fa-cog"></i> Details</th>
                        <th class="form-th-item"><i class="fa fa-cog"></i> Edit</th>
                        @*<th class="form-th-item"><i class="fa fa-cog"></i> Delete</th>*@
                    </tr>
                }
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="form-tr-item">
                    <td class="@(item.IsActive ? "account-active" : "account-inactive ")"></td>
                    <td class="form-item">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Permit)</td>
                    <td>@Html.DisplayFor(modelItem => item.Town)</td>
                    <td>@Html.ActionLink("View", "Index", "Contacts", new { id = item.VenueID }, new { @class = " btn btn-outline-success btn-sm" })</td>
                    <td>@Html.ActionLink("View", "Index", "Slots", new { id = item.VenueID }, new { @class = "btn btn-outline-success btn-sm" })</td>
                    <td>@Html.ActionLink("Details", "Details", new { id = item.VenueID }, new { @class = "btn btn-outline-primary btn-sm" }) </td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.VenueID }, new { @class = "btn btn-outline-warning btn-sm" }) </td>
                    @*<td>@Html.ActionLink("Delete", "Delete", new { id = item.VenueID }, new { @class = "btn btn-outline-danger btn-sm" }) </td>*@
                </tr>
                }
            </tbody>
        </table>
        <div class="card-header border-0">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <div>
                        @Html.Partial("footer")
                    </div>
                </div>
            </div> @*Card Header Title Content*@
        </div>
    </div>@*Close Parent Container*@
</div>