@using System.Linq.Expressions
@model PagedList.IPagedList<SlotsDataCapture.ENTITIES.Configuration>
@using PagedList;
@using PagedList.Mvc;
@{ViewBag.Title = "Index";}
<div class="container-fluid">
    <div class="form-parent-container">
        <div class="card border-0">
            <div class="card-header border-0">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="tl-sda-tl-bar">S.D.C<span class="tl-fm-list">Slot Machine Configuration</span>Listing</h5>
                    </div>
                </div>
            </div>
            @using (@Html.BeginForm("ConfigurationListing", "Configurations", FormMethod.Get))
            {
                <form>
                    <br />
                    <div class="container py-6">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-search"></i>
                                <label for="lbl_searchconfigurations" class="form-item-title">Search Machine Configurations</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Config_SlotSerial", true)
                                    <text class="rb-text">Slot Serial Numbers</text>
                                </span>
                            </div>
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Config_SimCardSerial")
                                    <text class="rb-text">Sim Serial Number</text>
                                </span>
                            </div>
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Config_BoardSerial")
                                    <text class="rb-text">Board Serial Number</text>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="container py-6">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-3">
                                    @Html.TextBox("search", null, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" value="search" class="btn btn-primary">
                                        <span class="btn-search btn-primary">Search</span>
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <br />
                        </fieldset>
                    </div>
                    <div class="container py-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-control-item"><i class="fa fa-pie-chart"></i> Total configured machines @Html.Raw(ViewBag.TotalRecords) </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <span>
                                    <i class="fa fa-plus"></i>
                                    @Html.ActionLink("Create New", "Create", "Configurations", new { @class = "btn btn-outline-info btn-lg" })
                                </span>
                            </div>
                            <div class="col-md">
                                <ul class="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("ConfigurationListing", null, new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request["sortBy"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            }
            <table class="table table-hover">
                <thead>
                    @if (Model.Count() == 0)
                    {
                        <tr class="null-data-box">
                            <td class="" colspan="10">
                                <span class="null-data-comment">
                                    <i class="fa fa-3x  fa-times"></i>NO MATCHING RECORDS FOUND:
                                </span>
                            </td>
                        </tr>
                    }
                    else if (Model.Count != 0)
                    {
                        <tr class="bg-dark text-white">
                            <th><i class="fa fa-sort"></i>@Html.ActionLink("Slot Serial", "ConfigurationListing", new { sortBy = ViewBag.Configuration_SlotSerial, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                            <th><i class="fa fa-sort"></i>@Html.ActionLink("Sim Card Serial", "ConfigurationListing", new { sortBy = ViewBag.Configuration_SimCardSerial, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                            <th><i class="fa fa-sort"></i>@Html.ActionLink("Board Serial", "ConfigurationListing", new { sortBy = ViewBag.Configuration_BoardSerial, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                        </tr>
                    }
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="form-tr-item">
                            <td class="form-item">@Html.DisplayFor(modelItem => item.Tbl_Slots.SerialNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Tbl_SimCards.SerialNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Tbl_Boards.SerialNumber)</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>