@using System.Linq.Expressions
@model PagedList.IPagedList<SlotsDataCapture.ENTITIES.SlotHarnesses>
@using PagedList;
@using PagedList.Mvc;
@{ViewBag.Title = "Index";}

    <div class="container-fluid">
        <div class="form-top-container">
            <div class="card border-0">
                <div class="card-header border-0">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="tl-sda-tl-bar">S.D.C<span class="tl-fm-list">Slot Machine Harness Configuration</span>Listings</h5>
                        </div>
                    </div> @*Card Header Title Content*@
                </div> @*Card Header End*@
                @*BEGIN FORM*@
                @using (@Html.BeginForm("HarnessListing", "SlotHarnesses", FormMethod.Get))
                {
                    <form>
                        <br />
                        <div class="container py-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-search"></i>
                                    <label for="lbl_searchharness" class="form-item-title">Search Machine Harness</label>
                                </div>
                            </div>
                         
                            <div class="row">
                                <div class="form-check">
                                    <span class="rb-display form-control-item">
                                        @Html.RadioButton("searchBy", "Config_SlotSerial", true)
                                        <text class="rb-text">Slot Serial Numbers</text>
                                    </span>
                                </div>
                                <div class="form-check">
                                    <span class="rb-display form-control-item">
                                        @Html.RadioButton("searchBy", "Config_SimCardSerial")
                                        <text class="rb-text">Sim Serial Number</text>
                                    </span>
                                </div>
                                <div class="form-check">
                                    <span class="rb-display form-control-item">
                                        @Html.RadioButton("searchBy", "Config_BoardSerial")
                                        <text class="rb-text">Board serial Number</text>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="container py-6">
                            <fieldset>
                                                <div class="row">
                                    <div class="col-sm-3">
                                        @Html.TextBox("search", null, new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" value="search" class="btn btn-primary">
                                            <span class="btn-search btn-primary">Search</span>
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                  
                                </div>
                                <br />
                            </fieldset>
                        </div>
                        <div class="container py-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-control-item"><i class="fa fa-dashboard"></i> Total Configured Machines @Html.Raw(ViewBag.TotalRecords) </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <span>
                                        <i class="fa fa-plus"></i>
                                        @Html.ActionLink("Create New", "Create", "SlotHarnesses", new { @class = "btn btn-outline-info btn-lg" })
                                    </span>
                                </div>
                                <div class="col-md">
                                    <ul class="pagination">
                                        @Html.PagedListPager(Model, page => Url.Action("Index", null, new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request["sortBy"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
                                    </ul>
                                </div>
                            </div>
                        </div> @*Close Card Body*@
                    </form>
                }
            </div> @*Close Main Card*@
            <table class="table table-hover">
                <thead>
                    @if (Model.Count() == 0)
                    // if no record currently exist prompt the member to create one
                    {
                        <tr class="null-data-box">
                            <td class="" colspan="8">
                                <span class="null-data-comment">
                                    <i class="fa fa-3x  fa-times"></i>NO MATCHING RECORDS FOUND:
                                </span>
                            </td>
                        </tr>
                    }
                    else if (Model.Count != 0)
                    // if record exists show table and data
                    {
                <tr class="bg-dark text-white">
                    <th class="form-th-item">Slot Machine Serial Number</th>
                    <th class="form-th-item">Harness Name</th>
                    <th class="form-th-item">Harness Length</th>
                    <th class="form-th-item"><i class="fa fa-cog"></i> Details</th>
                    <th class="form-th-item"><i class="fa fa-cog"></i> Edit</th>
                    <th class="form-th-item"><i class="fa fa-cog"></i> Delete</th>
                </tr>
                    }
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr class="form-tr-item">
                        <td class="form-item">@Html.DisplayFor(modelItem => item.Tbl_Slots.SerialNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.CableLength)</td>
                        <td> @Html.ActionLink("Details", "Details", new { id = item.SlotHarnessID }, new { @class = "btn btn-outline-primary btn-sm" }) </td>
                        <td> @Html.ActionLink("Edit", "Edit", new { id = item.SlotHarnessID }, new { @class = "btn btn-outline-warning btn-sm" }) </td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.SlotHarnessID }, new { @class = "btn btn-outline-danger btn-sm" }) </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="card-header border-0">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <div>
                            @Html.Partial("footer")
                        </div>
                    </div>
                </div> @*Card Header Title Content*@
            </div>
        </div>@*Close Parent Container*@
    </div>






















