@model SlotsDataCapture.ENTITIES.Boards
@{ ViewBag.Title = "Details";}
<div class="container-fluid">
    <div class="form-top-container">
        <div class="card border-0">
            <div class="card-header border-0">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="tl-sda-tl-bar">S.D.C<span class="tl-fm-detail">Details</span></h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="form-location">Details <span class="form-location-bold">For Board @Html.DisplayFor(model => model.SerialNumber)</span></p>
                <div class="row  form-row-form-content">
                    <div class="col-md-12 offset-md-1">
                        <div class="form-row mt-10">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <span class="form-style-details">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            <i class="fa fa-gear" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="col-sm">
                                        <span class="form-style-details">
                                            <i class="fa fa-gear" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="col-sm">
                                        <span class="form-style-details">
                                            <i class="fa fa-gear" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm"><span for="lbl_receivedon" class="lbl-01">Received on:</span></div>
                                    <div class="col-sm"><span for="lbl_batchnumber" class="lbl-01">Batch ref:</span></div>
                                    <div class="col-sm"><span for="lbl_serialnumber" class="lbl-01">Serial number:</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm"><span class="lbl-001">@Html.DisplayFor(model => model.Tbl_BoardBatches.ReceivedOn)</span></div>
                                    <div class="col-sm"><span class="lbl-001">@Html.DisplayFor(model => model.Tbl_BoardBatches.BatchNumber)</span></div>
                                    <div class="col-sm"><span class="lbl-001">@Html.DisplayFor(model => model.SerialNumber)</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  form-row-form-controls">
                    <div class="col-sm-6">
                        <span class="form-style-details">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.SMIBatchID }, new { @class = "btn btn-outline-warning" })
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <span class="form-style-details">
                            @Html.ActionLink("Back To Listings", "Index", "Boards", null, new { @class = "btn btn-outline-primary" })
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-header border-0">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <div>
                            @Html.Partial("footer")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>