@using System.Linq.Expressions
@model PagedList.IPagedList<SlotsDataCapture.ENTITIES.Boards>
@using PagedList;
@using PagedList.Mvc;
@{ViewBag.Title = "Index";}
<div class="container-fluid">
    <div class="form-top-container">
        <div class="card border-0">
            <div class="card-header border-0">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="tl-sda-tl-bar">S.D.C<span class="tl-fm-list">Board</span>Listing</h5>
                    </div>
                </div>
            </div>
            @using (@Html.BeginForm("Index", "Boards", FormMethod.Get))
            {
                <form>
                    <br />
                    <div class="container py-6">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-search"></i>
                                <label for="lbl_searchboards" class="form-item-title">Search Boards</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Board_SerialNumber", true)
                                    <text class="rb-text"><b>Board:</b> Serial Number</text>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-check">
                                <span class="rb-display form-control-item">
                                    @Html.RadioButton("searchBy", "Board_BatchReference")
                                    <text class="rb-text"><b>Board:</b> Batch Ref</text>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="container py-6">
                        <fieldset>
                            <div class="form-row mt-8">
                                <div class="col-sm-3">
                                    @Html.TextBox("search", null, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" value="search" class="btn btn-primary">
                                        <span class="btn-search btn-primary">Search</span>
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="container py-6">
                        <div class="form-row mt-8">
                            <div class="col-sm-4">
                                <div class="form-control-item"><i class="fa fa-pie-chart"></i> Total boards @Html.Raw(ViewBag.TotalRecords) </div>
                            </div>
                        </div>
                        <div class="form-row mt-8">
                            <div class="col-sm-4">
                                <div class="form-control-item"><i class="fa fa-pie-chart"></i> Total <b style="color:green">Acvtive</b> boards @Html.Raw(ViewBag.TotalActiveRecords) </div>
                            </div>
                        </div>
                        <div class="form-row mt-8">
                            <div class="col-sm-4">
                                <div class="form-control-item"><i class="fa fa-pie-chart"></i> Total <b style="color:red">Inactive</b> boards @Html.Raw(ViewBag.TotalInactiveRecords) </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row mt-8">
                            <div class="col-md-6">
                                <span class="form-btn-position">
                                    <i class="fa fa-plus"></i>
                                    @Html.ActionLink("Create New", "Create", "Boards", new { @class = "btn btn-outline-info btn-lg" })
                                </span>
                            </div>
                            <div class="col-md">
                                <ul class="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", null, new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = Request["sortBy"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br />
                </form>
            }
        </div>
        <table class="table table-hover">
            <thead>
                @if (Model.Count() == 0)
                {
                    <tr class="null-data-box">
                        <td class="" colspan="8">
                            <span class="null-data-comment">
                                <i class="fa fa-3x  fa-times"></i>NO MATCHING RECORDS FOUND:
                            </span>
                        </td>
                    </tr>
                }
                else if (Model.Count != 0)
                {
                    <tr class="bg-dark text-white">
                        <th><i class="fa fa-sort"></i>@Html.ActionLink("Currently in use?", "Index", new { sortBy = ViewBag.Board_ActivityStatus, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                        <th><i class="fa fa-sort"></i>@Html.ActionLink("Board batch ref", "Index", new { sortBy = ViewBag.Board_BatchReference, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                        <th><i class="fa fa-sort"></i>@Html.ActionLink("Board serial number", "Index", new { sortBy = ViewBag.Board_SerialNumber, searchBy = Request["searchBy"], search = Request["search"] }, new { @class = "form-th-item" })</th>
                        <th class="form-th-item"><i class="fa fa-cog"></i> Details</th>
                        <th class="form-th-item"><i class="fa fa-cog"></i> Edit</th>
                        <th class="form-th-item"><i class="fa fa-cog"></i> Delete</th>
                    </tr>
                }
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="form-tr-item">
                        <td class="@(item.IsActive ? "board-currently-active" : "board-currently-inactive")"></td>
                        <td class="form-item">@Html.DisplayFor(modelItem => item.Tbl_BoardBatches.BatchNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.SerialNumber)</td>
                        <td>@Html.ActionLink("Details", "Details", new { id = item.SMIBID }, new { @class = "btn btn-outline-primary btn-sm" }) </td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id = item.SMIBID }, new { @class = "btn btn-outline-warning btn-sm" }) </td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.SMIBID }, new { @class = "btn btn-outline-danger btn-sm" }) </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="card-header border-0">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <div>
                        @Html.Partial("footer")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 